header{
    color: black;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 0;

}
nav ul{
    list-style: none;
    display: flex; 
    justify-content: flex-start;
 
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;

}

nav li{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;;
    font-size: 35px;

}

.name{
    padding: 0;
    padding-top:15px;
    
}

.logo{
   
    padding: 0;
    padding-left: 20px;
    margin: 0;
    height: auto;
    width: 82px;
    
    transition: all 0.3s ease;

  
}

.logo:hover{
    transform: scale(1.1);
    filter:brightness(1.5);
    filter: drop-shadow(0 0 10px #bee9ac);
    
}

.nav-links{
    color:white;
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
}