nav header{
    color: black;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 0;

}
nav ul{
    list-style: none;
    display: flex; 
    justify-content: flex-start;

    flex-direction: row;
    gap: 0;
    padding: 0;
    margin: 0;
    
    align-items: center;
}

nav li{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;;
    font-size: 35px;


}

.name{
    padding: 0;
    padding-top:0;
    padding-bottom:10px;
    
}

.logo{
   
    padding: 0;
    padding-left: 25px;
    border: 0;
    margin: 0;
    height: auto;
    width: 82px;
    
    transition: all 0.3s ease;

  
}

ul:hover{
    transform: scale(1.1);
    filter:brightness(1.5);
    filter: drop-shadow(0 0 10px #bee9ac);
    
}

.nav-links{
    color:white;
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
}

nav li a{
    text-decoration: none;
    color: White; /* Ensure color consistency */
    padding: 0 20px; /* Adjust padding as necessary */
    font-size: 35px; /* Matches <li> font size */
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}