html, body {
    height: 100vh; /* 100% of the viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex;
    align-items: center;
    align-content: center;
    
}

.quiz{
    flex: 1;
}

.pic{
    flex: 1;
}