html {
    height: 100vh; /* 100% of the viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */

    background-color: #1e212b;

}

body{
    background-color: #1e212b;
}

h1{
    font-size: 90px;
    font-style: 'Poppins';
    padding:0;
    margin: 0;
    border:0;
    color: white;
}

.center{
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.quiz{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width:400px;
}

.question{
    flex:1;
}

img{
    width: 75%;
    height: auto;
    border-radius: 0;
}
.pic{
    flex:1;
    max-width: 50%;
    max-height: auto;
    min-width: 400px;
    min-height: auto;
}