


.report {
    background-color: rgb(66, 66, 66);
    border-radius: 21px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px; /* More uniform padding */
    position: relative; 
    margin-top:95%;
}

.report .title h1{
    
    flex:1;
    width: 100%; 
    font-size: 45px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    height:auto;

}
.report .score h3{
    padding:0;
    margin: 0;
    font-size: 64px;
}
.report .top{
    
    flex:5;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;

}

.report .info{
    flex: 2;
    display: flex;
    flex-direction: row;
}
.report .linfo,.report .rinfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 18px;
    margin-right: 40px;
    align-items:center;
    justify-content: center;
}
.report .topl{
    flex:2;
    display: flex;
    flex-direction: column;
   
}

.report .topr{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 20px;
}
.report .score{
    flex:1;
}
.report .cow{
    flex:1;
    max-width: 500px;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left:0;
}

.report .projectedv{
    flex:1;
}
.report .bottom{
    flex:4;

    width: 100%;
    height: 100%;
    
}
.report .mortgagec {
    flex:1;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    border-radius: 21px;
    width: 1000px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    padding-left: 45px;
  }
  .report .mortgagec h3{
    margin: 0;
    padding: 0;
    font-size: 32px;
  } .report .mortgagec h2{
    margin: 0;
    padding: 20px;
    font-size: 48px;
    padding-left: 0;
  }
  
 .report .photos {
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    
    background-color: #eee; /* Placeholder for photos */
    height: 500px; /* Adjust as needed */
    width: 95%;
    padding: 0;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
    
  }

  .report .tip{
    margin: 0;
    padding: 0;
    border: 0;
  }
 .report .score,.report .cow, .report .projectedv {
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .report .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border:none;
    cursor:pointer;
  }

  .report .dropdown {
    position: relative;
    display: inline-block;
  }

  .report .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .report .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }